<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Payment Demo</title>

    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>

    <h1>Payment Demo</h1>

    <p>Order: <span id="order-id">ORDER-111</span></p>
    <p>Amount: <span id="amount">15 EUR</span></p>

    <div id="payment-element"></div>

    <button id="pay-button">
        Pay 150 EUR
    </button>

    <p id="payment-message"></p>


    <script>
    const stripe = Stripe(
        'pk_test_51UCymbG4xOmnXs1L5sqpQmSB7xJmmcNH3AlmFdAu2LOeSC1hUWYlS3lalXB4rD62FLBV8SCCK6cGQxroaUU5TQiq008OUqsuID'
    );

    let elements;

    async function createPayment() {
        const response = await fetch('/api/v1/payments/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                merchant_id: '31231243-1111-1111-1111-111111111111',
                external_order_id: 'ORDER-5',
                amount: 15000,
                currency: 'eur'
            })
        });

        if (!response.ok) {
            throw new Error('Failed to create payment');
        }

        const data = await response.json();

        console.log('Payment created:', data);

        return data;
    }


    async function initializePayment() {
        try {
            const payment = await createPayment();

            elements = stripe.elements({
                clientSecret: payment.client_secret
            });

            const paymentElement = elements.create('payment');

            paymentElement.mount('#payment-element');

            console.log('Payment Element mounted');

        } catch (error) {
            console.error('Initialization error:', error);
        }
    }


    const payButton = document.getElementById('pay-button');
    const paymentMessage = document.getElementById('payment-message');

    payButton.addEventListener('click', async () => {

        payButton.disabled = true;

        const { error } = await stripe.confirmPayment({
            elements: elements,

            confirmParams: {
                return_url: 'http://127.0.0.1:8000/api/v1/payment-success/'
            }
        });

        if (error) {
            console.error('Payment error:', error);

            paymentMessage.textContent = error.message;

            payButton.disabled = false;
        }
    });


    initializePayment();
</script>

</body>
</html>